ACE_HOME_INGEST_ROOT=/var/lib/ace-home-ingest
ACE_HOME_INGEST_HOST=127.0.0.1
ACE_HOME_INGEST_PORT=8100
ACE_HOME_INGEST_TOKEN=change-me
MAX_SOURCE_DURATION_SECONDS=600
ACE_HOME_MAX_SOURCE_BYTES=268435456
ACE_HOME_MEDIA_COMMAND_TIMEOUT_SECONDS=1800
ACE_HOME_RETAIN_DEBUG_ARTIFACTS=false
ACE_HOME_DEBUG_RETENTION_SECONDS=3600
ACE_SFTP_HOST=hetzner-name.tailnet-name.ts.net
ACE_SFTP_PORT=22
ACE_SFTP_USERNAME=ace-incoming
ACE_SFTP_PRIVATE_KEY=/home/ace/.ssh/ace-service-incoming
ACE_SFTP_REMOTE_ROOT=/srv/ace-service/data/incoming
ACE_SFTP_CONNECT_TIMEOUT_SECONDS=15
